body {
    background-image:  url(carpet.png); 
    background-repeat: repeat;
    font-size:         16px;
    font-family:       "Arial";
    color:             black;
}
.centerblock {
    border-radius:    32px;
    border:           3px solid                              gray;
    border-style:     groove;
    padding:          10px;
    justify-content:  justify;
    align-items:      center;
    margin-left:      auto;
    margin-right:     auto;
    width:            66%;
    background-color:                                        rgb(250, 250, 250); /*yellow*/
/*     background-image: url(blue.png); */
}

h1, h2, h3{
    border-radius:    32px;
  text-transform: uppercase;
  font-weight: normal;
  /* background-color: black;
  background-image: url(red.png);*/
  padding:          8px;
  justify-content:  justify;
  background-color:                                         rgb(222, 222, 222); /*orange*/
}
table {
    border-radius:    32px;
    width:            100%;
    margin-left:      auto;
    margin-right:     auto;
    border:           1px solid                             gray;
    border-style:     groove;
    padding:          8px;
}
th {
/*     background-image: url(red.png); */
/*     background-color: red; */
border-radius:    16px;
     background-color:                                      rgb(200,200,235); /*dark brown 150, 80, 0*/
    padding:          4px; 
}
td {
    border-radius:    8px;
    background-color:                                       rgb(222, 222, 222);/*light brown   210, 130, 57*/
/*     background-color: rgb(20,20,20); */
    padding:          2px;
}

a:link {
  color:                                                    rgb(10, 30, 157);
}
a:visited {
  color:                                                    rgb(150,50,50);
}
a:hover {
  color:                                                    red;
}
a:active {
  color:                                                    pink;
} 

