* {
    margin: 0;
    padding: 0;
    text-align: justify;
}

h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

/* unvisited link */
a:link {
  color: rgb(240,140,120);
}
a:visited {
  color: rgb(130,130,130);
}
a:hover {
  color: rgb(200,200,200);
}



.tabs{
    width: 800px;
    display: block;
    margin: 40px auto;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.tabs .tab>input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 6px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: rgb(121,71,68);
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 800px;
    padding: 25px;
    position: absolute;
    top: 27px;
    left: 0;
    background: rgb(25,20,28);
    color: #DFDFDF;
    opacity:0;
    transition: opacity 400ms ease-out;
}

.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: rgb(25,20,28);
    color: #F5F5F5;
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;/* or display: block; */
   
    opacity: 1;
    transition: opacity 100ms ease-out;
}
